<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<title> Control Panel </title>

		<div id="menu">
		<ul>
			<li><a href="login">Login </a></li>
		</ul>
		</div>
	</head>

	<body>
		<div id="info-style">
			<center> <h3> Welcome to the Control Panel </h3> </center>
		<p>Control Panel is here to help you control all of your Internet
		of Things (IoT) devices just from one place! </p>

		<p><i>Accounts can be created only by the owner and not from this 
			webpage.</i></p>
		</div>

	</body>

</html>
